---
variables:
  DOCKER_IMAGE_NAME: ${DOCKER_REGISTRY}/${CI_PROJECT_NAME}
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: /certs

services:
  - docker:19.03-dind

stages:
  - test
  - docker:build
  - docker:publish

test:fmt:
  stage: test
  image: rust:latest
  before_script:
    - rustup default nightly
    - rustup component add rustfmt
  script:
    - cargo +nightly fmt -- --check

test:lint:
  stage: test
  image: rust:latest
  before_script:
    - rustup default nightly
    - rustup component add clippy
  script:
    - cargo +nightly clippy --all-targets --all-features -- -D warnings

test:unit:
  stage: test
  image: rust:latest
  before_script:
    - rustup default nightly
  script:
    - cargo +nightly test

docker-build:
  stage: docker:build
  image: docker:19.03
  only:
    - branches
    - tags
  before_script:
    - docker info
    - mkdir -p docker-build/$(dirname ${DOCKER_IMAGE_NAME})
  script:
    - docker build -t ${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHA} .
    - test -n "${CI_COMMIT_TAG}" && docker tag ${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHA} ${DOCKER_IMAGE_NAME}:${CI_COMMIT_TAG}

docker-push:
  stage: docker:publish
  image: docker:19.03
  only:
    - branches
    - tags
  before_script:
    - docker login -u $[DOCKER_REGISTRY_USER} -p ${DOCKER_REGISTRY_PASSWORD} ${DOCKER_REGISTRY}
  script:
    - docker push ${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHA}
    - test -n "${CI_COMMIT_TAG}" && docker push ${DOCKER_IMAGE_NAME}:${CI_COMMIT_TAG}
