---
variables:
  DOCKER_IMAGE_NAME: ${DOCKER_REGISTRY}/${CI_PROJECT_NAME}
  DOCKER_HOST: tcp://docker:2376
  DOCKER_TLS_CERTDIR: /certs

services:
  - docker:19.03-dind

stages:
  - test
  - build
  - docker:build
  - docker:publish

.rust: &rust
  image: rust:latest
  cache:
    paths:
      - .cargo/
      - target/

test:fmt:
  stage: test
  <<: *rust
  before_script:
    - export CARGO_HOME="$(pwd)/.cargo"
    - rustup default nightly
    - rustup component add rustfmt
  script:
    - cargo +nightly fmt -- --check

test:lint:
  stage: test
  <<: *rust
  before_script:
    - export CARGO_HOME="$(pwd)/.cargo"
    - rustup default nightly
    - rustup component add clippy
  script:
    - cargo +nightly clippy --all-targets --all-features -- -D warnings

test:unit:
  stage: test
  <<: *rust
  before_script:
    - export CARGO_HOME="$(pwd)/.cargo"
    - rustup default nightly
  script:
    - cargo +nightly test

build:
  stage: build
  <<: *rust
  before_script:
    - export CARGO_HOME="$(pwd)/.cargo"
    - rustup default nightly
    - apt-get -qq update
    - apt-get -qq install pysassc python3-pkg-resources
  script:
    - cargo +nightly build --release
    - mkdir -p build/ build/assets/
    - cp target/release/hydra-idp-ldap build/
    - cp -r assets/static/ build/assets/
    - cp -r assets/templates/ build/assets/
    - pysassc --sourcemap -t compressed assets/scss/main.scss build/assets/static/css/main.css
  artifacts:
    name: "hydra-idp-ldap-${CI_COMMIT_TAG:-${CI_COMMIT_SHA}}"
    paths:
      - build

docker-build:
  stage: docker:build
  image: docker:19.03
  only:
    - main
    - tags
  script:
    - docker build -t ${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHA} .
    - test -n "${CI_COMMIT_TAG}" && docker tag ${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHA} ${DOCKER_IMAGE_NAME}:${CI_COMMIT_TAG}

docker-push:
  stage: docker:publish
  image: docker:19.03
  only:
    - main
    - tags
  before_script:
    - docker login -u $[DOCKER_REGISTRY_USER} -p ${DOCKER_REGISTRY_PASSWORD} ${DOCKER_REGISTRY}
  script:
    - docker push ${DOCKER_IMAGE_NAME}:${CI_COMMIT_SHA}
    - test -n "${CI_COMMIT_TAG}" && docker push ${DOCKER_IMAGE_NAME}:${CI_COMMIT_TAG}
